---
layout: default
---

<article id="content">
    {{ content }}
</article>

<h2>Articles <small>({{ site.notes.size }})</small></h2>

<ul>
    {% assign notes = site.notes | sort_natural: 'title'  %}
    {%- for note in notes -%}
    <li><a href="{{ note.url }}">{{ note.title }}</a></li>
    {%- endfor -%}
</ul>

<h2>Tags</h2>
<ul>
    <li><a href="/tags">All (site.notes | map: 'tags' | uniq | size)</a></li>
</ul>

<h2>Commands</h2>
<ul>
    <li><a href="/commands">All (site.notes | map: 'commands' | uniq | size)</a></li>
</ul>
