---
layout: default
---

<style>
    .index-tags {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .index-tag {
        box-sizing: border-box;
        flex: 1 0 auto;
        padding: 0 10px;
        width: 30%;
    }

    @media screen and (max-width: 1000px){
        .index-tag {
            width: 45%;
        }
    }

    @media screen and (max-width: 500px){
        .index-tags {
            display: block;
        }

        .index-tag {
            flex: none;
            width: auto;
        }
    }
</style>

<main id="content">
<div class="index-tags">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
    <div class="index-tag">
        <h3>{{ tag[0] }} <small>({{ tag[1].size }})</small></h3>
        <ul>
            {% for post in tag[1] %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
</main>